{% extends "ratings/index_template.html" %}

{% block title %}
	Real-Rating.ru: Настоящий рейтинг - Модерирование
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}
	<form action="" class="niceforms" method="POST">
	{% csrf_token %}
	<div>
		<div style="float:left;font-size:1.5em;display: block;">{{ rating }}</div>
		<div style="float:right;display: block;"><input type="checkbox" id="ratingCheckbox" name="rating{{ rating.id }}" {% if rating.isModerated %} checked {% endif %}/></div>
		<br/>
		<br/>
		<div style="display: block;float:left;">
		<span>{{ rating.begin_date|date:"d.m.Y" }}</span> <span> - </span><span>{{ rating.end_date|date:"d.m.Y" }}</span>
		</div>
	</div>
	<br/>
	{% for m in moderatable %}
	<br/>
	<div>
		<div style="float:left;">{{ m }}</div>
		<div style="float:right;"><input type="checkbox" name="ratingitem{{ m.id }}" {% if m.moderated %} checked {% endif %}/></div>
	</div>
	{% endfor %}
	<br/>
	<div>
	<input type="submit" value="Сохранить"/>
	<input type="submit" name="delete" value="Удалить рейтинг"/>
	<br/>
	<a href="/ratings/admin/edit_unmoderated_items/{{ rating.id }}/">Отредактировать неподтвержденные пункты рейтинга</a>
	</div>
	</form>
	
	<a class="uni_link" href="{{ link }}">{{ link_text }}</a>
	<br />
	<a href="#" id="rating_author_mail_link">Отписать автору рейтинга</a>
	<div id="rating_author_mail">
	<form action="/ratings/admin/rating_send_mail" class="niceforms" method="POST">
		{% csrf_token %}
		<table>
		{{ send_mail_form }}
		</table>
		<input type="submit" value="Отправить" />
	</form>
	</div>
	
<script> 
	$('#rating_author_mail').hide();
    $("#rating_author_mail_link").click(function () {
        $("#rating_author_mail").show("fast");
        return false;
   	});
    $("#ratingCheckbox").click(function () {
    	$('input[name^=ratingitem]').attr('checked', $("#ratingCheckbox").is(':checked'));
        return true;
   	});
</script>
{% endblock %}
