{% extends "ratings/index_template.html" %}

{% block title %}
	Модерирование. ratings4you.
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}
	<table>
		<tr><th>Рейтинг</th><th>Требует модерации</th><th>Требуют модерации пункты</th></tr>
	{% for m in moderatable %}
		<tr>
			<td><a href="/ratings/admin/moderaterating/{{ m.id }}/">{{ m }}</a></td>
			<td>{% if m.isModerated %} Нет {% else %} Да {% endif %}</td>
			<td>{% if m.hasNotModeratedItems %} Да {% else %} Нет {% endif %}</td>
		</tr>
	{% endfor %}
	</table>
	<a class="uni_link" href="{{ link }}">{{ link_text }}</a>
{% endblock %}