{% extends "ratings/index_template.html" %}


{% block content %}

										<form action="#"> 
											<div class="clear-l"> 
												<p class="brand">Toyota</p> 
												<div class="cl-n"> 
													<a href="#" class="r-active">&nbsp;</a> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Mercedes-Benz</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m1">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">BMW</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Honda</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m3">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Ford</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Volkswagen</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m4">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Audi</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Toyota</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Mercedes-Benz</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m1">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">BMW</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Honda</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m3">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Ford</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Volkswagen</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m4">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Audi</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Toyota</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Mercedes-Benz</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m1">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">BMW</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Honda</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m3">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Ford</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Volkswagen</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m4">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Audi</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Toyota</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Mercedes-Benz</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m1">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">BMW</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Honda</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m3">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Ford</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Volkswagen</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m4">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Audi</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Toyota</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">Mercedes-Benz</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m1">&nbsp;</div> 
											</div> 
											<div class="clear-l"> 
												<p class="brand">BMW</p> 
												<div class="cl-n"> 
													<a href="#" class="r-nactive">&nbsp;</a> 
												</div> 
												<div class="separator m2">&nbsp;</div> 
											</div> 
 
											<div class="buttons"> 
												<input type="button" class="btn-vote" value="" /> 
												<input type="button" class="btn-viewres" value="" /> 
											</div> 
										</form>
{% endblock %} 