{% extends "ratings/index_template.html" %}

{% block title %}
	Real-Rating.ru: Настоящий рейтинг - Администрирование сайта
{% endblock %}

{% block center_title %} Панель управления {% endblock %}

{% block content %}
	<ul class="rarefied">
		<li><a href="/ratings/admin/moderation/">Модерирование</a></li>
		
		<li><a href="/ratings/admin/catalogs/">Редактирование справочников</a></li>
		
		<li><a href="/ratings/admin/moderator_email/">Настройка email-адреса модератора</a></li>
	</ul>
{% endblock %}