<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	
	<title>
		{% block title %}
			rating4you.net 
		{% endblock %}
	</title> 
	<meta name="keywords" content=""/> 
	<meta name="description" content=""/><meta http-equiv="Last-Modified" content="Sat, 19 Jun 2010 17:50:39 GMT"/>	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
	
	<!-- <base href="http://www.rating4you.net/"/> --> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
	<script type="text/javascript" src="/js//jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/js/JsHttpRequest.min.js"></script> 
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script> 
	<script type="text/javascript" src="/js/function.js"></script> 
	<script type="text/javascript" src="/js/functionForm.js"></script> 
	<script type="text/javascript" src="/js/functionAjax.js"></script> 
	<script type="text/javascript" src="/js/functionService.js"></script> 
	<script type="text/javascript" src="/js/loadMain.js"></script> 
	<link href="/css/cmfStyle.css" rel="stylesheet" type="text/css" /> 
	<link href="/css/jquery.fancybox.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" type="text/css" href="/css/all.css" /> 
	<link rel="stylesheet" type="text/css" href="/css/opera.css" /> 
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
	<![endif]--> 
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ltie7.css" media="screen" />
	<![endif]--> 
 
</head> 
<body> 
	<img class="body-img" src="/images/bg-body.gif" alt="" /> 
	<div class="b-img"></div> 
	<div id="wrapper"> 
		<div class="wrapper2"> 
			<div id="header"> 
				<strong class="logo"> 
					<a href="/ratings/">rating4you.net</a>
				</strong> 
				<div> 
					<a class="login" href="/accounts/login/">войти</a> 
					<a class="reg" href="/accounts/register/">зерегистрироваться</a>
				</div>
				<!--[if lt IE 7]>
				<div class="img-bl"></div>
				<![endif]--> 
			</div> 
			<div id="nav"> 
				<ul> 
					<li class="first"><a class="about" href="#">о сайте</a></li> 
					<li><a class="expert" href="#">эксперты</a></li> 
					<li><a class="rate-arch" href="#">архив рейтингов</a></li> 
					<li><a class="analitic" href="#">аналитика</a></li> 
					<li><a class="rate-create" href="/ratings/add/">создать рейтинг</a></li> 
					<li><a class="forum" href="#">форум</a></li> 
					<li><a class="callback" href="#">обратная связь</a></li> 
				</ul> 
			</div>			<div id="main"> 
				<div class="main-frame"> 
					<div id="sidebar-l"> 
						<div class="topic"> 
							<div class="shadow"> 
								<div class="side"> 
									<div class="shadow-left"></div> 
									<div class="shadow-right"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="updown"> 
									<div class="shadow-top"></div> 
									<div class="shadow-bottom"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="shadow-tl"></div> 
								<div class="shadow-tr"></div> 
								<div class="shadow-bl"></div> 
								<div class="shadow-br"></div> 
							</div> 
							<div class="tframe"> 
								<div class="tframe1"> 
									<div class="header"> 
										<div class="frame1"> 
											<div class="frame2"> 
												<h1 class="title">каталог рейтингов</h1> 
											</div> 
										</div> 
										<!--[if lt IE 7]>
										<div class="hframe1"></div>
										<div class="hframe2"></div>
										<![endif]--> 
									</div> 
									<div class="content"> 
										<div> 
											{% load ratings_tree_tag %}
											{% rating_catalog_tree %}
											<form action="#"> 
												<input type="text" class="find" /> 
												<input type="button" class="btn-find" /> 
											</form> 
										</div> 
									</div> 
									<div class="bottom"> 
										<div class="frame1"> 
											<div class="frame2"> 
												&nbsp;
											</div> 
										</div> 
									</div> 
								</div> 
							</div> 
						</div> 
					</div> 
					<div id="content"> 
						<div class="topic"> 
							<div class="shadow"> 
								<div class="side"> 
									<div class="shadow-left"></div> 
									<div class="shadow-right"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="updown"> 
									<div class="shadow-top"></div> 
									<div class="shadow-bottom"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="shadow-tl"></div> 
								<div class="shadow-tr"></div> 
								<div class="shadow-bl"></div> 
								<div class="shadow-br"></div> 
							</div> 
							<div class="tframe"> 
								<div class="tframe1"> 
									<div class="header"> 
										<div class="frame1"> 
											<div class="frame2"> 
												<h1 class="title">{% block center_title %} топ брендов {% endblock %}</h1> 
											</div> 
										</div> 
										<!--[if lt IE 7]>
										<div class="hframe1"></div>
										<div class="hframe2"></div>
										<![endif]--> 
									</div> 
									<div class="content"> 
									{% block content %}
									{% endblock %}
									</div> 
									<div class="bottom"> 
										<div class="frame1"> 
											<div class="frame2"> 
												&nbsp;
											</div> 
										</div> 
									</div> 
								</div> 
							</div> 
						</div> 
					</div> 
					<div id="sidebar-r"> 
						<div class="topic ht5"> 
							<div class="shadow"> 
								<div class="side ht6"> 
									<div class="shadow-left"></div> 
									<div class="shadow-right"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="updown"> 
									<div class="shadow-top"></div> 
									<div class="shadow-bottom"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="shadow-tl"></div> 
								<div class="shadow-tr"></div> 
								<div class="shadow-bl"></div> 
								<div class="shadow-br"></div> 
							</div> 
							<div class="tframe"> 
								<div class="tframe1"> 
									<div class="header"> 
										<div class="frame1"> 
											<div class="frame2"> 
												<h1 class="title">топ брендов</h1> 
											</div> 
										</div> 
										<!--[if lt IE 7]>
										<div class="hframe1"></div>
										<div class="hframe2"></div>
										<![endif]--> 
									</div> 
									<div class="content ht1"> 
										<div> 
											<p class="brand first">Toyota</p> 
											<p class="num first clr1">5798</p> 
											<div class="separator first">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">Mercedes-Benz</p> 
											<p class="num clr2">5798</p> 
											<div class="separator m1">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">BMW</p> 
											<p class="num clr3">5798</p> 
											<div class="separator m2">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">Honda</p> 
											<p class="num clr4">5798</p> 
											<div class="separator m3">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">Ford</p> 
											<p class="num">5798</p> 
											<div class="separator m2">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">Volkswagen</p> 
											<p class="num">5798</p> 
											<div class="separator m4">&nbsp;</div> 
										</div> 
										<div> 
											<p class="brand">Audi</p> 
											<p class="num">5798</p> 
											<div class="separator m2">&nbsp;</div> 
										</div> 
									</div> 
									<div class="bottom"> 
										<div class="frame1"> 
											<div class="frame2"> 
												&nbsp;
											</div> 
										</div> 
									</div> 
								</div> 
							</div> 
						</div> 
						<div class="topic ht5"> 
							<div class="shadow"> 
								<div class="side ht6"> 
									<div class="shadow-left"></div> 
									<div class="shadow-right"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="updown"> 
									<div class="shadow-top"></div> 
									<div class="shadow-bottom"></div> 
								</div> 
							</div> 
							<div class="shadow"> 
								<div class="shadow-tl"></div> 
								<div class="shadow-tr"></div> 
								<div class="shadow-bl"></div> 
								<div class="shadow-br"></div> 
							</div> 
							<div class="tframe"> 
								<div class="tframe1"> 
									<div class="header"> 
										<div class="frame1"> 
											<div class="frame2"> 
												<h1 class="title">топ пользователей</h1> 
											</div> 
										</div> 
										<!--[if lt IE 7]>
										<div class="hframe1"></div>
										<div class="hframe2"></div>
										<![endif]--> 
									</div> 
									<div class="content ht1"> 
										&nbsp;
									</div> 
									<div class="bottom"> 
										<div class="frame1"> 
											<div class="frame2"> 
												&nbsp;
											</div> 
										</div> 
									</div> 
								</div> 
							</div> 
						</div> 
						<div class="topic ht5"> 
							<div class="tframe"> 
								<div class="tframe1"> 
									<p>облако тегов</p> 
								</div> 
							</div> 
						</div> 
					</div> 
				</div> 
			</div>			<div id="footer"> 
				<div class="frame"> 
					&nbsp;
				</div> 
			</div> 
		</div> 
	</div> 
<div id="idAjaxLog"></div> 
</body> 
</html>