<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
	{% block title %}
		Real-Rating.ru: Настоящий рейтинг
	{% endblock %}
</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
	<link href="/images/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script> 
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script> 
	<script type="text/javascript" src="/js/niceforms.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.treeview.js"></script>
	<script type="text/javascript" src="/js/jquery.dynDateTime.pack.js"></script> 
	<script type="text/javascript" src="/js/lang/calendar-ru.pack.js"></script> 
 
	<link rel="stylesheet" type="text/css" media="all" href="/css/calendar-win2k-cold-1.css"  /> 
	<link href="/css/cmfStyle.css" rel="stylesheet" type="text/css" /> 
	<link href="/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	<link href="/css/jquery.treeview.css " rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
	<link rel="stylesheet" type="text/css" href="/css/opera.css" />
	<link rel="stylesheet" type="text/css" href="/css/niceforms-default.css" />
	<script type="text/javascript">
		$(function() {
			$("#tree").treeview({
				collapsed: true,
				animated: "medium",
				control: "#sidetreecontrol",
				persist: "location",
				unique: true
			});
		})
	</script>
	<script type="text/javascript"> 
		$(document).ready(function() {
			$("input[id*='date']").dynDateTime({
				ifFormat: "%d.%m.%Y",
				firstDay: 1					
				});
		});
	</script> 
</head>
<body>
<div id="container" align="center">
	<div id="place-top" align="center">
		<div id="logo"><a href="/ratings/"><img src="/images/logo.png"></img></a></div>
		<div id="headlinks" align="right">
			{% if request.user.is_authenticated %}
				<p>
					<a href="/ratings/accounts/profile/">{{ request.user.username }}</a> 
					(<a href="/ratings/logout/">выйти</a>)<br/> 
				</p>
				{% else %}
				<p> 
					<a href="/accounts/login/{% if not "logout" in request.get_full_path %}?next={{ request.get_full_path }}{% endif %}">войти</a>
				</p>
				<br />
				<p> 
					<a href="/accounts/register/">зерегистрироваться</a>
				</p>
				{% endif %}
		</div>
	</div>
		<table id="place" align="center">
			<tr>
				<td align="center" valign="top" style="padding-top: 65px; width: 260px;">
		
			
				<div class="paneheader-lr" align="center"><div class="phead">каталог рейтингов</div></div>
				<div class="panecenter-lr">
					<div class="c-text" align="left">
						{% load ratings_tree_tag %}
						{% rating_catalog_tree %}
					</div>
				</div>
				<div class="panebottom-lr" align="center"></div>
			
				</td>
				<td align="center" valign="top" style="padding: 65px 10px 0px 10px;">
			
				<div class="paneheader" align="center"><div class="phead">{% block center_title %} топ брендов {% endblock %}</div></div>
				<div class="panecenter">
					<div class="c-text" align="left">
					{% block content %}
					{% endblock %}
					</div>
				</div>
				<div class="panebottom" align="center"></div>
			
				</td>
				<td align="center" valign="top" style="padding-top: 65px; width: 260px;">
			
				<div class="paneheader-lr" align="center"><div class="phead">топ голосов</div></div>
				<div class="panecenter-lr">
					<div class="c-text" align="left"  style="margin-left: 10px; margin-right: 10px;">
						{% load top_rating_items_tag %}
						{% top_rating_items %}
					</div>
				</div>
				<div class="panebottom-lr" align="center"></div>
			
				</td>
			</tr>
		</table>
	<div id="place-bottom" align="center"></div>
</div>
<div id="buttons" align="center">
	<a href="/ratings/about/" onmouseover="document.pma.src='/images/buttons/about_h.png'" onmouseout="document.pma.src='/images/buttons/about{% if '/ratings/about' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pma.src='/images/buttons/about_p.png'" onmouseup="document.pma.src='/images/buttons/about_h.png'"><img src="/images/buttons/about{% if '/ratings/about' in request.get_full_path %}_h{% endif %}.png" name="pma" alt="О сайте" /></a>
	<a href="/ratings/add/" onmouseover="document.pmb.src='/images/buttons/create_h.png'" onmouseout="document.pmb.src='/images/buttons/create{% if '/ratings/add' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pmb.src='/images/buttons/create_p.png'" onmouseup="document.pmb.src='/images/buttons/create_h.png'"><img src="/images/buttons/create{% if '/ratings/add' in request.get_full_path %}_h{% endif %}.png" name="pmb" alt="Создать рейтинг" /></a>
	<a href="/ratings/arch/" onmouseover="document.pmc.src='/images/buttons/archive_h.png'" onmouseout="document.pmc.src='/images/buttons/archive{% if '/ratings/arch' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pmc.src='/images/buttons/archive_p.png'" onmouseup="document.pmc.src='/images/buttons/archive_h.png'"><img src="/images/buttons/archive{% if '/ratings/arch' in request.get_full_path %}_h{% endif %}.png" name="pmc" alt="Архив" /></a>
	<a href="/ratings/analitics/" onmouseover="document.pmd.src='/images/buttons/analitic_h.png'" onmouseout="document.pmd.src='/images/buttons/analitic{% if '/ratings/analitics' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pmd.src='/images/buttons/analitic_p.png'" onmouseup="document.pmd.src='/images/buttons/analitic_h.png'"><img src="/images/buttons/analitic{% if '/ratings/analitics' in request.get_full_path %}_h{% endif %}.png" name="pmd" alt="Аналитика" /></a>
	<a href="/ratings/exp/" onmouseover="document.pme.src='/images/buttons/experts_h.png'" onmouseout="document.pme.src='/images/buttons/experts{% if '/ratings/exp' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pme.src='/images/buttons/experts_p.png'" onmouseup="document.pme.src='/images/buttons/experts_h.png'"><img src="/images/buttons/experts{% if '/ratings/exp' in request.get_full_path %}_h{% endif %}.png" name="pme" alt="Эксперты" /></a>
	<a href="/ratings/forum/" onmouseover="document.pmf.src='/images/buttons/forum_h.png'" onmouseout="document.pmf.src='/images/buttons/forum{% if '/ratings/forum' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pmf.src='/images/buttons/forum_p.png'" onmouseup="document.pmf.src='/images/buttons/forum_h.png'"><img src="/images/buttons/forum{% if '/ratings/forum' in request.get_full_path %}_h{% endif %}.png" name="pmf" alt="Форум" /></a>
	<a href="/ratings/feedback/" onmouseover="document.pmg.src='/images/buttons/feedback_h.png'" onmouseout="document.pmg.src='/images/buttons/feedback{% if '/ratings/feedback' in request.get_full_path %}_h{% endif %}.png'" onmousedown="document.pmg.src='/images/buttons/feedback_p.png'" onmouseup="document.pmg.src='/images/buttons/feedback_h.png'"><img src="/images/buttons/feedback{% if '/ratings/feedback' in request.get_full_path %}_h{% endif %}.png" name="pmg" alt="Обратная связь" /></a>
</div>
</body>
</html>
