{% extends "ratings/index_template.html" %}

{% block title %}
	Профиль пользователя. ratings4you.
{% endblock %}

{% block center_title %}
	Профиль пользователя
{% endblock %}

{% block content %}
	
	<!-- div>Текущий статус {{ profile.authorization_mode }}</div -->
	<form action="" method="POST">
		{% csrf_token %}
	<table class="prod_table">
		{{ widget }}
		<tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
	</table>
	
	</form>
	<br />
	<a href="{{ link }}">{{ link_text }}</a>
{% endblock %}