{% extends "ratings/index_template.html" %}

{% block title %}
	Профиль пользователя. ratings4you.
{% endblock %}

{% block center_title %}
	Профиль пользователя
{% endblock %}

{% block content %}
	
	<!-- div>Текущий статус {{ profile.authorization_mode }}</div -->
	<form action="" class="niceforms" method="POST">
		{% csrf_token %}
	<table>
		{{ widget }}
		<tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
	</table>
	
	</form>
	<br />
	<a class="uni_link" href="{{ link }}">{{ link_text }}</a>
{% endblock %}