{% extends "ratings/index_template.html" %}

{% block title %}
	{{ title }}. ratings4you.
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}

										<form action="" method="POST">
											{% csrf_token %}
											{% for ri in rating_items %}
											<div class="clear-l"> 
												<p class="brand">{{ ri }}</p> 
												<div class="cl-n"> 
													<input type="radio" name="ri_id" value="{{ri.id }}" /> 
												</div> 
												<div class="separator">&nbsp;</div> 
											</div> 
											{% endfor %}
											<div class="buttons"> 
												{% if user.is_authenticated %} <input type="submit" class="btn-vote" value="" /> {% endif %} 
												<input type="button" class="btn-viewres" value="" onClick="window.location=window.location+'?action=view_results'"/> 
											</div> 
										</form>
	
	
		
	
	<br /><br />
	<a href="{{ link }}">{{ link_text }}</a>
	<br />
{% endblock %}