{% extends "ratings/index_template.html" %}

{% block title %}
	{{ title }}. ratings4you.
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}

										<form action="" class="niceforms" method="POST">
											{% csrf_token %}
											<table style="width: 100%;border-width: 1px;border-spacing: ;border-style: outset;border-color: gray;border-collapse: collapse;background-color: white;">
											{% for ri in rating_items %}
												<tr>
													<td style="border-width: 1px;padding: 2px;border-style:solid;border-color: gray;background-color: white;border-collapse: collapse;">{{ ri }}</td>
													<td style="text-align: center;border-width: 1px;padding: 2px; margin:0;border-style:solid;border-color: gray;background-color: white;border-collapse: collapse;"><input type="radio" name="ri_id" value="{{ri.id }}" /></td>
												</tr>
											{% endfor %}
											</table>
											<div class="buttons"> 
												{% if user.is_authenticated %} <input type="submit" class="btn-vote" value="Проголосовать" /> {% endif %} 
												<input type="button" class="btn-viewres" value="Результаты" onClick="window.location='/ratings/view_results/{{ rating.id }}/'"/> 
											</div> 
										</form>
		
	
	<br /><br />
	<a class="uni_link" href="{{ link }}">{{ link_text }}</a>
	<br />
{% endblock %}