{% extends "ratings/index_template.html" %}

{% block title %}
	Real-Rating.ru: Настоящий рейтинг - {{ title }}
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}

										<form action="" class="niceforms" method="POST">
											{% csrf_token %}
											<table class="table_poll" id="nth-child-odd">
											{% for ri in rating_items %}
												<tr>
													<td class="td_poll">
														<span style="width:280px;text-align: left;">{{ ri }}</span>
														<span style="float:right;"><input type="radio" name="ri_id" value="{{ri.id }}" /></span>
													</td>
												</tr>
											{% endfor %}
											</table>
											<div class="buttons"> 
												{% if user.is_authenticated %} <input type="submit" class="btn-vote" value="Проголосовать" /> {% endif %} 
												<input type="button" class="btn-viewres" value="Результаты" onClick="window.location='/ratings/view_results/{{ rating.id }}/'"/> 
											</div> 
										</form>
		
	
	<br /><br />
	{% if link_text %}<a class="uni_link" href="{{ link }}">{{ link_text }}</a>{% endif %}
	<br />
{% endblock %}