{% extends "ratings/index_template.html" %}

{% block title %}
	Real-Rating.ru: Настоящий рейтинг - {{ title }}
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}
	<form action="" class="niceforms" method="POST">
		{% csrf_token %}
	<table>
		{{ form }}
		<input type="hidden" name="parent" value="{{ parent }}"/>
		<tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
	</table>
	</form>
	<br />
	<a class="uni_link" href="{{ link }}">{{ link_text }}</a>
	<ul class="top_brands">
	{% for item in catalog_items %}
		<li><a href="{{ item.getDrillDownURI }}">{{ item.name }}</a><span><a href="{{ item.getEditURI }}">редактировать</a></span><span><a href="{{ item.getDelURI }}">удалить</a></span></li>
	{% endfor %}
	</ul>
{% endblock %}