{% extends "ratings/index_template.html" %}

{% block title %}
	{{ title }}. rating4you.net
{% endblock %}

{% block center_title %} {{ title }} {% endblock %}

{% block content %}
	<ul>
	{% for item in catalog_items %}
		<li>{{ item.name }}</li>
	{% endfor %}
	</ul>
	<a href="{{ link }}">{{ link_text }}</a>
	<br />
	<form action="" class="niceforms" method="POST">
		{% csrf_token %}
	<table>
		{% for form in forms %}
			{{ form }}
		{% endfor %}
		<tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
	</table>
	</form>
{% endblock %}