<table id="nth-child-even" class="table_poll">
	<thead>
		<tr style="font-size: 0.8em; background-color: white; text-align: center; background-color:#D6D6D6; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;">
			<th style="margin:0px;padding:1px;">Место</th>
			<th style="margin:0px;padding:1px;">Наименование</th>
			<th style="margin:0px;padding:1px;">Голоса</th>
		</tr>
	</thead>
{% for ri in rating_items %}
<tr>
	<td style="font-size:0.8em;">{{ forloop.counter }}</td>
	<td style="font-size:0.8em;">{{ ri }}</td>
	<td style="font-size:0.8em;" align="center">{{ ri.getOverallCount }}</td>
</tr>
{% endfor %}
</table>
