<div style="font-size: 8px;"><span
	style="float: left; padding-left: -15px; margin-left: -15px; font-size: 10px;">Место&nbsp;</span>
	<span style="font-size: 10px;">Наименование</span>
	<span style="float: right;font-size: 10px;">Голоса</span>
</div>
<ul class="top_brands">
{% for ri in rating_items %}
										<li> 
											<span style="width:165px;float:left;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">{{ ri }}</span>
											<span style="float:right;">{{ ri.getOverallCount }}</span>  
										</li> 
{% endfor %}
</ul>