{% extends "ratings/index_template.html" %}
{% load i18n %}

{% block center_title %}Предпросмотр комментария{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% if form.errors %}
    <h1>{% blocktrans count form.errors|length as counter %}Пожалуйста, поправьте нижеописанную ошибку{% plural %}Пожалуйста, поправьте нижеописанные ошибки{% endblocktrans %}</h1>
    {% else %}
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans " и " %} <input type="submit" name="submit" class="submit-post" value="{% trans "Отправьте комментарий" %}" id="submit" />
      <br /> {% trans "или внесите изменения" %}:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {% ifequal field.name "name" %}
			  	<input id="id_name" type="hidden" name="name" value="{{request.user.id}}" /> 
			{% endifequal %}
			{% ifequal field.name "email" %}
			  	<input type="hidden" name="email" id="id_email" value="{{request.user.email}}" /> 
			{% endifequal %}
			{% ifequal field.name "url" %}
			  	<input type="hidden" name="url" id="id_url" value="{{request.user.profile.profile_url}}" /> 
			{% endifequal %}
			{% ifequal field.name "comment" %}
				<p>Комментарий:</p>
			  	<p>{{ field }}</p>
			{% endifequal %}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Отправить" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Предпросмотр" %}" />
    </p>
  </form>
{% endblock %}
